<div class="container mt-5 mb-5 pt-5">
    <div class="row justify-content-center">
        <div class="card rounded-0" style="width: 19rem;">
            <div class="card-body d-flex justify-content-around align-items-center py-4">

              <div class="icon-container ">
                <fa-icon [icon]="truck"></fa-icon>
              </div>
              <div class="icon-describtion">
                <h5 class="card-title fs-5">Free deleviery</h5>
                <p class="card-text">Worldwide</p>
              </div>

            </div>
          </div>
          <div class="card rounded-0" style="width: 19rem;">
            <div class="card-body d-flex justify-content-around align-items-center py-4">

              <div class="icon-container">
                <fa-icon [icon]="money"></fa-icon>
              </div>
              <div class="icon-describtion">
                <h5 class="card-title fs-5">Money Returns</h5>
                <p class="card-text ">30 Days money return</p>
              </div>

            </div>
          </div>
          <div class="card rounded-0" style="width: 19rem;">
            <div class="card-body d-flex justify-content-around align-items-center py-4">

               
              <div class="icon-container">
                <fa-icon [icon]="call"></fa-icon>
              </div>
              <div class="icon-describtion">
                <h5 class="card-title fs-5">27/4 Online Support</h5>
              <p class="card-text">Customer Support </p>
              </div>

            </div>
          </div>
          <div class="card rounded-0" style="width: 19rem;">
            <div class="card-body d-flex justify-content-around align-items-center py-4">

              <div class="icon-container">
                <fa-icon [icon]="truck"></fa-icon>
              </div>
              <div class="icon-describtion">
                <h5 class="card-title fs-5">Payment Security</h5>
                <p class="card-text">Safe Payment</p>
              </div>

              
            </div>
          </div>
    </div>
</div>