<nav class="navbar navbar-expand-lg bg-body-light  "  [ngClass]="{'sticky-nav': isSticky}">
  <div class="container">

    <a href=""><img  src="../assets/images/logo_dark.png" alt=""> </a> 
         
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav m-auto mb-2 ">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/"   href="#">HOME</a>
        </li>

        <li class="nav-item ">
          <a class="nav-link active" routerLink="products"  href="#">SHOP</a>
        </li>

        <li class="nav-item ">
          <a class="nav-link active" routerLink=""  href="#">BLOG</a>
        </li>



        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="register" href="#">REGISTER</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active"  aria-current="page" routerLink="login" href="#">LOGIN</a>
        </li>

        <li class="nav-item ">
          <a class="nav-link active" routerLink="products"  href="#">CONTACT US</a>
        </li>

      </ul>

      <button routerLink="" class="btn btn-brimary"><fa-icon [icon]="search"></fa-icon>
        <i style="font-size: 30px;" class="fas faa-cart-plus"></i>
    </button>

     <button routerLink="cart" class="btn btn-brimary"><fa-icon [icon]="icon"></fa-icon>
         <i style="font-size: 30px;" class="fas faa-cart-plus"></i>
         <div style="font-size: 10px;" class="badge bg-danger">{{totalItem}}</div>
     </button>
    </div>
  </div>
</nav>