.fb_info {
    position: absolute;
    top: 25px;
    padding: 15px;
    left: 35px;
    z-index: 9;
}


.fb_info2 {
    position: absolute;
    top: 50%;
    padding: 15px;
    left: 45px;
    transform: translateY(-50%);
    z-index: 9;
    width: 40%;
}
.sale-banner{
    overflow: hidden;
    padding: 0 !important;
    width: 100%;
 
}

.sale-banner:hover img{
    transform: scale(1.06);
}


.sale-img {

    transition: all 0.3s ease-in-out;

}
.single_bn_title{
    font-weight: 700;
}
.single_bn_link{
    color: black;
text-decoration-color: brown;
}
.single_bn_link:hover{
    color: brown;
}