<div class="container my-5 " style="width: 70%;">

    <div class="row">

        <div class=" col-lg-5  col-md-12 ">
            <div class=" px-3 position-relative sale-banner ">
                <div class="fb_info">
                    <h5 class="single_bn_title1">Super Sale</h5>
                    <h3 class="single_bn_title">New Collection</h3>
                    <a href="" class="single_bn_link">Shop Now</a>
                </div>
                <img src="../assets/images/furniture_banner1.jpg" alt="" class="w-100 sale-img">
            </div>
        </div>


        
        <div class="col-lg-7  col-md-12 ">
            <div class=" px-3 position-relative sale-banner">
                <div class="fb_info2 w-100">
                    <h3 class="single_bn_title">New Season</h3>
                    <h4 class="single_bn_title1">Sale 40% Off</h4>
                    <a href="" class="single_bn_link">Shop Now</a>
                </div>
                <img src="../assets/images/furniture_banner2.jpg" alt="" class="w-100 sale-img">
            </div>
        </div>


    </div>
</div>